
body{
    background:#ccc;
}
#magazine{
    margin: auto;
    width:625px;
    height:1440px;
}
#magazine .turn-page{
    background-image: url("/报纸翻页/image/1.jpg");
    width:625px;
    height:1440px;

}
